{% extends 'base.html.twig' %}

{% block body %}
<main role="main" class="container-fluid">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key, item in cart.getCart() %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.amount }}</td>
                        <td>
                            <a href="{{ path('cart_remove_book', {'book': key}) }}" 
                                class="btn btn-info btn-block" role="button">Remove</a>
                        </td>
                    </tr>
                {% endfor %} 
                <tr>
                    <td colspan="3">Sub Total</td>
                    <td colspan="2">${{ cart.getSubTotal() }}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <form class="form-inline" action="{{ path('cart_checkout', {}) }}" method="POST">
                            <input id="coupon_code" name="coupon_code" class="form-control mr-sm-2" type="text" placeholder="Coupon Code" aria-label="Search" name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Checkout</button>
                        </form>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
